<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="/admin">
                    <h3>Exam Manager</h3>
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="active">
                    <a href="/student">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/student/courses">
                        <i class="fas fa-chart-bar"></i>Courses</a>
                </li>
                <li>
                    <a href="/student/edit_profile">
                        <i class="fas fa-table"></i>Edit Profile</a>
                </li>
                <li>
                    <a href="/student/result">
                        <i class="far fa-check-square"></i>View Result</a>
                </li>
                <li>
                    <a href="/student/write_exam">
                        <i class="fas fa-calendar-alt"></i>Write Exam</a>
                </li>
            </ul>
        </div>
    </nav>
</header>