<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <h3>Exam Manager</h3>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a href="/student">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/student/courses">
                        <i class="fas fa-chart-bar"></i>Courses</a>
                </li>
                <li>
                    <a href="/student/edit_profile">
                        <i class="fas fa-table"></i>Edit Profile</a>
                </li>
                <li>
                    <a href="/student/result">
                        <i class="far fa-check-square"></i>View Result</a>
                </li>
                <li>
                    <a href="/student/write_exam">
                        <i class="fas fa-calendar-alt"></i>Write Exam</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>