<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a href="/admin">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/courses">
                        <i class="fas fa-chart-bar"></i>Courses</a>
                </li>
                <li>
                    <a href="/admin/view_students">
                        <i class="fas fa-table"></i>View Students</a>
                </li>
                <li>
                    <a href="/admin/enroll_student">
                        <i class="fas fa-table"></i>Enroll Student</a>
                </li>
                <li>
                    <a href="/admin/exam_halls">
                        <i class="far fa-check-square"></i>Exam Halls</a>
                </li>
                <li>
                    <a href="/admin/add_hall">
                        <i class="far fa-check-square"></i>Add Hall</a>
                </li>
                <li>
                    <a href="/admin/scheduled_exams">
                        <i class="fas fa-calendar-alt"></i>Scheduled Exams</a>
                </li>
                <li>
                    <a href="/admin/schedule_exam">
                        <i class="fas fa-calendar-alt"></i>Schedule Exam</a>
                </li>
                <li>
                    <a href="/admin/add_result">
                        <i class="fas fa-map-marker-alt"></i>Add Result</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>